
:root{
    --color-primario: #6610f2;
    --color-footer: #f8f9fa;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;

}

.active{
    color: var(--color-primario);

}

.nav{
    align-items: center;
    outline: solid var(--color-primario);
    height: 60px;
}

.nav-link{
    text-decoration: none;
}

.nav-link i{
 padding-right: 10px;

}

footer{
    margin-top: 50px;
    background-color: var(--color-footer);
    padding: 20px;
}
footer h5{
    color: var(--color-primario)
}
footer ul{
    list-style: none;
}

::-webkit-scrollbar{
    display: none;
}


/* ----------------------------- Pokes on cards ------------------------------*/

.box-card{
    padding: 20px;
    display: flex;
    justify-content: center;

}
.box-card p{
    font-size: 1.5rem;
}
.popular-pokes{
    padding: 20px;
    margin: 0;

}

.box-text-main{
    padding: 50px;  
}

.box-text-main h2, h3{
    font-size: 2.5rem;
    color: var(--color-primario);
}

.btn-primary:hover {
    background-color: #3a0097;
}

.btn-secondary:hover {
    background-color: #00b098;
}

/* ----------------------------- Cabecera login  ------------------------------*/

.box-img-login{
    height: 80vh;
    background:
    linear-gradient(rgba(5,7,12, 0.60), rgba(5, 7, 12, 0.60)),
    url(../img/login_1.jpeg);
    background-size: cover;
}


.informacion{
    margin-top: 150px;
    color: #fff;
    font-weight: bold;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.datos{
    background-color: #fff;
    border-radius: 20px;
    font-size: 1rem;
    padding: 10px;
}

.my-col{  
    padding: 20px;
}

.box-userpass input{
    padding: 10px;
    margin: 10px;
    width: 100%;
    border: none;
    outline: solid lightgray;
}

.btn-primary{
    background-color: var(--color-primario);
    width: 70%;
    border: none;
    padding: 5px;
    border-radius: 2px;
    color: #fff;
}

.login{
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.btn-log-principal{
    margin-top: 20px;
    justify-content: center;
}

.carta-login{
    background-color: #41ead4;
}

/* ----------------------------- Quienes somos ------------------------------*/


.nuestra-historia{
    height: 50vh;
    background-color: #3a0097;
    color: #fff;
    display: flex;
    padding: 50px;
    font-size: 1.5rem;
    align-items: center;
}
.nuestra-historia h2{
    font-size: 5rem;

}

.historia-text{
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}

.quienes-somos{
    text-align: center;
    color: #fff;
}
/* ----------------------------- Carta ------------------------------*/

.cabecera-carta{
    height: 60vh;
    background: linear-gradient(rgba(5,7,12, 0.60), rgba(5, 7, 12, 0.60)),
    url(../img/cabecera-carta-2.webp);
    background-color: #3a0097; 
    background-position: center;
    background-size: cover;
    
}
.texto-cabecera-carta{
    height: 500px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}
.cabecera{
    padding-left: 100px;
}

.elige-tu-base{
    background-color: #6610f2;
    padding: 40px;
}

.box-ingredientes{
    color: white;
    padding: 20px; 
}

.box-card-ingredientes{
    padding: 20px;
}

/* ----------------------------- Media Querys ------------------------------*/


@media screen and (max-width: 576px){
    
    .cabecera{
        display: none;  
    }

    .nuestra-historia{
        height: 50vh;
        padding: 10px;
        font-size: 1.2rem;
        align-items: center;
    }

    .nuestra-historia h2{
        font-size: 3rem;
    
    }
}